<div class="p-3 mb-2">
<div class="card" align="center">
  <div class="card-body">
<h1> User Profile </h1>
<h4>Username: <%= @user.username %></h4>
<h4>User email: <%= @user.email%></h4><br>

<h2>Favorited Books</h2>
<% if !@favbooks.exists? %>
<p>You don't have any favorite book.</p>
<% else %>
<%= @favbooks.count %>
<% @favbooks.each do |fav| %>
<p><%= fav.title %></p>
<% end %>
<% end %>
<h2>Books</h2>

<table class="table">
  <thead>
    <tr align="center">
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Page Count</th>
      <th scope="col">Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avaiblebooks.each do |book| %>
      <tr>
        <td align="center"><%= book.title %></td>
        <td align="center"><%= book.author %></td>
        <td align="center"><%= book.pagecount %></td>
        <td align="center"><%= book.status %></td>
        <td ><%= link_to 'Show', book %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>