<div class="p-3 mb-2">
  <div class="card">
    <div class="card-body" align="center">
      <div class="card">
        <div class="card-body">
<h1>Welcome to the Webook</h1>
<p>Webook is a book sharing platform.
<% if !current_user %>
Please login for share and see books.</p>
<% end %>
<div class="container">
  <div class="row">
    <div class="col col-md-7">
      <div class="card h-100">
        <div class="card-header">
<h2> Shareable Books </h2>
</div>
<table class="table table-hover">
  <thead>
    <tr align="center">
      <th>Title</th>
      <th>Author</th>
      <% if current_user %>
      <th >User</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @avaiblebooks.each do |book| %>
      <tr>
        <td align="center"><%= book.title %></td>
        <td align="center"><%= book.author %></td>
        <% if current_user %>
        <td align="center"><button type="button" class="btn btn-light"><%= link_to book.user.username, user_path(book.user.id) %></button></td>
        <td ><button type="button" class="btn btn-outline-primary"><%= link_to 'Show', book %></button></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<div class="col col-md-5">
  <div class="card">
    <div class="card-header">
<h2>Most Popular Books</h2>
</div>
<table class="table table-hover">
  <thead>
    <tr align="center">
      <th>Title</th>
      <th>Number of Favorites</th>
    </tr>
  </thead>
  <tbody>
    <% @favsize.each do |book| %>
      <tr>
        <td align="center"><%= book.title %></td>
        <td align="center"><%= book.favorites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
